/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/

/.idea
/*.iml

/.cpcache
/.clj-kondo/.cache

# Generated HotSpot compilation/inlining diagnostics
/results/**/jit/*.log
